* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #121212;
}

body {
  font-family: "Merriweather", sans-serif;
  line-height: 1;
  font-weight: 400;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  cursor: pointer;
  background-color: #121212;
}

/* Loader ekranı */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Dalgalı metin animasyonu */
.wave-loader span {
  display: inline-block;
  font-size: 2.5rem;
  animation: wave 1.5s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

/**************************/
/* HEADER */
/**************************/
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 9.6rem;
  padding: 0 1.8rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1002;
}

.logo {
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}

.nav-logo {
  display: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.language {
  display: flex;
  gap: 1rem;
}

/* MOBILE */
.menu-btn {
  z-index: 1001;
  display: none;
  background-color: white;
  border: none;
}

.close-btn {
  display: none;
}

/*Hero*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("/assets/img/services-\ back.webp") top center;
  background-size: cover;
  border-bottom: 2px solid white;
  z-index: 999;
  filter: brightness(70%);
  position: relative;
}

.hero-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 996;
}

h1 {
  color: white;
  font-family: "Oswald", sans-serif;
  padding-right: em;
  font-size: 5rem;
}
@-webkit-keyframes example-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9px);
    opacity: 0.0625;
  }
}
@keyframes example-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9px);
    opacity: 0.0625;
  }
}
@-webkit-keyframes example-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
    opacity: 0.125;
  }
}
@keyframes example-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
    opacity: 0.125;
  }
}
@-webkit-keyframes example-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(11px);
    opacity: 0.1875;
  }
}
@keyframes example-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(11px);
    opacity: 0.1875;
  }
}
@-webkit-keyframes example-4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
    opacity: 0.25;
  }
}
@keyframes example-4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
    opacity: 0.25;
  }
}
@-webkit-keyframes example-5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(13px);
    opacity: 0.3125;
  }
}
@keyframes example-5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(13px);
    opacity: 0.3125;
  }
}
@-webkit-keyframes example-6 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(14px);
    opacity: 0.375;
  }
}
@keyframes example-6 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(14px);
    opacity: 0.375;
  }
}
@-webkit-keyframes example-7 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
    opacity: 0.4375;
  }
}
@keyframes example-7 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
    opacity: 0.4375;
  }
}
@-webkit-keyframes example-8 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px);
    opacity: 0.5;
  }
}
@keyframes example-8 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px);
    opacity: 0.5;
  }
}
@-webkit-keyframes example-9 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(17px);
    opacity: 0.5625;
  }
}
@keyframes example-9 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(17px);
    opacity: 0.5625;
  }
}
@-webkit-keyframes example-10 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(18px);
    opacity: 0.625;
  }
}
@keyframes example-10 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(18px);
    opacity: 0.625;
  }
}
@-webkit-keyframes example-11 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(19px);
    opacity: 0.6875;
  }
}
@keyframes example-11 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(19px);
    opacity: 0.6875;
  }
}
h1 div:nth-child(1) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-1;
  animation-name: example-1;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(2) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-2;
  animation-name: example-2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(3) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-3;
  animation-name: example-3;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(4) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-4;
  animation-name: example-4;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(5) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-5;
  animation-name: example-5;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(6) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-6;
  animation-name: example-6;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(7) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-7;
  animation-name: example-7;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(8) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-8;
  animation-name: example-8;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(9) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-9;
  animation-name: example-9;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(10) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-10;
  animation-name: example-10;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
h1 div:nth-child(11) {
  display: inline-block;
  text-shadow: 2px 2px 3px #3d6366;
  -webkit-animation-name: example-11;
  animation-name: example-11;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.hero-p {
  font-size: 2.5rem;
  color: white;
  z-index: 996;
}

.hero-btn:link,
.hero-btn:visited {
  font-size: 2.5rem;
  text-decoration: none;
  background-color: orange;
  display: inline-block;
  padding: 1.2rem 2rem;
  color: white;
  border-radius: 12rem;
  z-index: 996;
  border: none;
  transition: all 0.5s ease-in;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: orangered;
}

/********/
/**** ABOUT SECTION******/

.section-about {
  padding: 10.6rem 13rem 25rem 13rem;
  width: 100%;
  position: relative; /* Create stacking context */
  z-index: 999; /* Set z-index for the section */
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.section-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/anabback.jpg") top center no-repeat;
  background-size: cover;
  filter: brightness(30%); /* Darken the background */
  z-index: -1; /* Place behind the content */
}

h2 {
  color: white;
  font-size: 5rem;
  text-align: center;
  position: relative; /* Ensure h2 is above the background */
  padding-top: 1rem;
}

.about-text-box {
  display: grid;
  gap: 5rem;
}

.p-and-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

h3 {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.about-p {
  color: white;
  font-size: 2.5rem;
  line-height: 3rem;
}

.about--img {
  width: 100%;
  max-width: 100%;
  border: 1px solid orange;
  border-radius: 1rem;
}

/*Services*/

.services-section {
  padding: 10.6rem 11rem 25rem 11rem;
  width: 100%;
  position: relative; /* Create stacking context */
  z-index: 999; /* Set z-index for the section */
  display: flex;
  flex-direction: column;
  gap: 7rem;
  border-top: 1px solid white;
}

.services-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/anabback.jpg") top center no-repeat;
  background-size: cover;
  filter: brightness(30%); /* Darken the background */
  z-index: -1; /* Place behind the content */
}

h4 {
  color: rgba(255, 255, 255, 0.827);
  font-size: 3rem;
}

.services-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;
  padding: 4rem 2rem 4rem 2rem;
  width: 100%;
  cursor: pointer;
}

.dash {
  color: orange;
  font-size: 2rem;
}

.services-box p {
  color: orange;
  font-size: 2rem;
}

.option-box {
  display: flex;
  gap: 2rem;
}

.option-box span {
  color: white;
  font-size: 2rem;
}

.opt {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(26, 24, 20);
  padding: 3rem 2rem 2rem 2rem;
  width: 35rem;
  transition: all 1s ease-in-out;
}

.opt p {
  color: white;
  font-size: 1.6rem;
  line-height: 2.5rem;
  opacity: 0;
  transform: translateY(20px); /* Start hidden below */
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
}

.offers {
  padding: 10.6rem 11rem 20rem 11rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  border-top: 1px solid white;
  z-index: 999;
}

.offers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/form1.webp") top center no-repeat;
  background-size: cover;
  filter: brightness(30%);
  z-index: -1;
}

h5 {
  color: rgba(255, 255, 255, 0.827);
  font-size: 3rem;
}

.offers-box p {
  font-size: 2rem;
}

.offers-box {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  background-color: black;
  padding: 5rem 5rem 20rem 5rem;
  width: 100%;
}

.console-container {
  font-size: 2rem;
  display: block;
}

.console-underscore {
  color: white;
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.headings-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headings {
  display: grid;
  gap: 1rem;
  border-right: 1px solid orange;
  width: 35rem;
  justify-content: center;
  align-items: center;
}

.headings p {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.options {
  transition: all 0.5s ease-in-out;
}

.options.active {
  background-color: orange;
  padding: 2rem 2rem;
  width: 30rem;
}

.content-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin: 0 auto;
  text-align: center;
}

.content.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.content img {
  max-width: 100%;
  height: 20rem;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.content img:hover {
  transform: scale(1.05);
}

.content h2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s;
  font-size: 3rem;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}
.content p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s;
  font-size: 2rem;
  color: white;
  margin-bottom: 1.2rem;
  text-align: justify;
  line-height: 1.5;
}

.content.active h2,
.content.active p {
  opacity: 1;
  transform: translateY(0);
}

/* Contact Us */

.contact-us {
  padding: 10rem 0 5rem 0;
  width: 100%;
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid white;
  background-color: black;
}

h6 {
  padding: 0 11rem 0 11rem;
  color: rgba(255, 255, 255, 0.827);
  font-size: 3rem;
}

.contact--us--p {
  padding: 0 11rem 0 11rem;
  color: orange;
  font-size: 3rem;
}

.my--map {
  margin-bottom: 2rem;
}

.contact-details {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between;
  gap: 3rem;
  margin-top: 2rem;
  padding: 0 10rem 0 10rem;
}

.loc {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.location-sign {
  color: white;
  height: 4rem;
  background-color: orange;
  border-radius: 50%;
  padding: 1rem;
  transition: all 1s ease-in;
}

.location-sign:hover {
  background-color: orangered;
  transform: translateY(-10px);
}

.loc-span {
  color: white;
  font-size: 2rem;
}

.loc-p {
  color: white;
  text-decoration: none;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.locs-flex {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.form-and-contacts {
  display: flex;
  gap: 2rem;
}

.animation-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.animation-container video {
  width: 17.7rem;
  border: 5px solid orange;
  border-radius: 5px;
  filter: brightness(50%); /* Makes the video black */
}

/*Form*/
/* Form Alanı */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 105px;
  background-color: black;
}

.contact-form {
  background-color: orange;
  padding: 100px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
}

.contact-form button {
  width: 100%;
  background-color: orangered;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: darkred;
}

/* Social */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.icon {
  background: none;
  height: 5rem;
}
/*Footer*/
.footer {
  padding: 1.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
  border-top: 1px solid white;
}

.footer--span {
  color: white;
}

.footer--span2 {
  text-align: center;
  color: white;
}

/* Style for the Scroll Up button */
#scrollUpBtn {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 999;
}

#scrollUpBtn:hover {
  background-color: darkorange;
}

@media only screen and (max-width: 600px) {
  #scrollUpBtn {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  #scrollUpBtn {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}

/*Send - error pages*/

.header-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 9.6rem;
  padding: 0 1.8rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1002;
}

.send-control {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.send-h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  z-index: 1003;
}

.animation-container-send video {
  height: 20rem;
  border: 3px solid orange;
}

.logo-form {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.send-error-button {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: orange;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.send-error-button:hover {
  background-color: orangered;
}
